<div class="title">
    <h1>Page A</h1>
</div>
<div class="link">
    <%= link_to("Page B", "/home/page_b", name: "link_button")%>
    <%= link_to("Page C", "/home/page_c", name: "link_button")%>
</div>
